<html>
<head>
    <title>Single Blog Page</title>
    {% load static %}
<link  href ="{% static 'src/styles.css' %}" rel="stylesheet" />
</head>

<body>
{% include "components/_navbar.html" %}
<section class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12 bg-white rounded-lg shadow-md mt-10">
  {% if messages %}
  {% for message in messages%}
  <span class="flex flex-wrap gap-4 text-sm:px-30 text-red-500 mb-8"> {{message}} </span>
  {% comment %} text-red-600 bg-red-100 border border-red-300 px-4 py-2 rounded mb-4 block {% endcomment %}
  {% endfor %}
  {% endif %}
  <!-- Blog Image -->
   {% if blog.image %}
  <img src="{{blog.image.url}}" alt="Blog Image" class="w-full rounded-lg object-cover mb-8 max-h-96">
    {% else %}
      <img src="" alt="{{blog.title}}" class="w-full rounded-lg object-cover mb-8 max-h-96">
    {% endif %}
  <!-- Title -->
  <h1 class="text-4xl font-extrabold text-gray-900 mb-4">{{blog.title}}</h1>

  <!-- Dates -->
  <div class="flex flex-wrap gap-4 text-sm text-gray-500 mb-8">
    <p><strong>Posted:</strong> {{blog.created_at}}</p>
    <p><strong>Updated:</strong> {{blog.updated_at}}</p>
    <span class="flex flex-wrap gap-4 text-sm text-green-500 mb-8" > <p><strong>Posted by:</strong> {{blog.author}}</span>

  </div>

  <!-- Content -->
  <article class="prose prose-indigo max-w-none text-gray-800 mb-12">
    <p>
        {{blog.description}}
    </p>
  
    <!-- More paragraphs as needed -->
  </article>

  <!-- Action Buttons -->
  <div class="flex space-x-4">
   <a href="/edit/{{blog.id}}"><button
      type="button"
      class="px-6 py-2 bg-indigo-600 text-white rounded-lg font-semibold hover:bg-indigo-700 transition"
    >
      Edit
    </button></a>
    <button
      type="button"
      class="px-6 py-2 bg-red-600 text-white rounded-lg font-semibold hover:bg-red-700 transition"
    >
      Delete
    </button>
  </div>
</section>

</body>
</html>